name: Update code.json inventory file

on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: "ubuntu-latest"
   
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      
  deploy:
    name: Deploy
    runs-on: "ubuntu-latest"
    needs: build
    
    env:
      CF_USERNAME: ${{ secrets.CG_USERNAME}}
      CF_PASSWORD: ${{ secrets.CG_PASSWORD}}
    
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Make the cloudgov-deploy script executable
        if: ${{ success() }}
        run: chmod +x ./bin/deploy-cloudgov
        
      - name: Deploy the app to cloud.gov
        if: ${{ success() }}
        run: ./bin/deploy-cloudgov && echo "Deploy"